<!DOCTYPE html>
<html lang="en">

<head>
    <title>Thyroid Classification System</title>
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <h3>Detect, Diagnose, Deliver</h3>
            <h1>THYROID CLASSIFICATION</h1>
            <h1>SYSTEM</h1>
            <br>
            <a href="/input" class="btn btn-primary">Get Started >></a>
        </div>
    </section><!-- End Hero -->
</body>

</html>